# OpenAI API Keys (multiple sources)
OPENAI_API_KEY=sk-...
OPENAI_API_KEY_BACKUP=sk-...
OPENAI_MODEL=gpt-4o-mini
GROQ_API_KEY=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
GROQ_MODEL=llama3-8b-8192
# LangSmith Tracing
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT='DA09'
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Database URLs
VECTOR_DB_URL=localhost:6333
GRAPH_DB_URL=http://34.158.39.31:7474
GRAPH_DB_USER=neo4j
GRAPH_DB_PASSWORD=<password>
GRAPH_DB_DATABASE=neo4j
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
DA10_OTA_API_KEY=

# System Settings
LOG_LEVEL=INFO
LLM_PROVIDER=openai
